head,
footer,
body {
    font-family: "Gill Sans", sans-serif;
}


.thumbnailLink {
    text-decoration: none;
    color: black;
}

.thumbnailLink:hover {
    text-decoration: underline;
}

.nav_link {
    text-decoration: none;
    color: black;
}

.nav_link:hover {
    text-decoration: underline;
}

.bike-grid-container {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;
}

.tire-title{
    font-size: 20px;
}

.bike-grid-container {
    /*width: 90%;*/
    margin: 0 auto;
    flex-wrap: wrap;
}

.row{
    display: flex;
}

form.new-media {
    margin: 0 auto;
    background-color: #f8f8f8;
    width: 260px;
    border-radius: 25px;
    margin-bottom: 130px;
}

form.new-media input {
    width: 250px;
}

.submit-btn {
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    background-color: #f8f8f8;
    border: none;
}

.submit-btn:hover {
    background-color: #000;
    color: white;
    border: none;
}

.new-media-title {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.secondary-header {
    display: flex;
    justify-content: right;
    flex-direction: row;
    background-color: #506931;
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 32px;
}

.secondary-header div#searchbar,
.secondary-header div#create {
    padding: 0px 10px 0px 10px;
}

#main-header {
    margin: 0 auto;
    text-align: center;
}


.confirm-body {
    background: #f8f8f8;
    width: 500px;
    margin: 0 auto;
    padding: 64px 0px;
    margin-bottom: 280px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
}

.confirm-btn {
    text-align: center;
    padding-top: 15px;
    color: black;
    text-decoration: none;
    border-bottom: none;
    outline: none;
}
.confirm-btn:hover {
    color: black;
    text-decoration: underline;
}

/* styles for the suggestion div block and the spans in it*/
#suggestionDiv {
    position: absolute;
    padding: 0;
    margin: 0;
    right: 215px;
    background-color: #fff;
    font-size: 0.85em;
    z-index: 9999;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: 2px 10px 12px 2px rgba(0,0,0,.175);
}

#suggestionDiv span {
    display: block;
    padding: 4px 3px 4px 10px;
    cursor: default;
    min-width: fit-content;
    white-space: nowrap;
}

#suggestionDiv span:hover {
    background-color: #F5DEB3;
}

.detailPage-container {
    margin-top: 32px;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;
    /*background-color: #f8f8f8;*/
}

.detailPage-InfoContainer {
    position: relative;
    width: 600px;
    padding: 20px;
    background-color: #65853e;
    border-radius: 20px;
}

.detailPage-Maker,
.detailPage-Price {
    margin-top: 32px;
}

.detailPage-Maker p,
.detailPage-Price p{
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    display: inline;
    margin-left: 20px;
}

.detailPage-Desc p {
    width: 425px;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    margin-left: 20px;
    display: inline-block;
    height: 100px;
}

.detailPage-Desc {
    margin-top: 64px;
}

.deleteProduct-Input {
    position: absolute;
    right: 15px;
    bottom: 15px;
    border: none;
    outline: none;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
}

.deleteProduct-Input:hover {
    background-color: #506931;
    color: white;
    cursor: pointer;
}

.searchGoBtn {
    border: none;
    outline: none;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
}

.searchGoBtn:hover {
    background-color: #65853e;
    color: white;
    cursor: pointer;
}

.detailPage-ImageContainer {
    height: 350px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backBtn {
    border: none;
    outline: none;
    background-color: #506931;
    padding: 15px;
    border-radius: 20px;
    color: white;
    margin-top: -80px;
}

.backBtn:hover {
    background-color: #506931;
    color: black;
    cursor: pointer;
}

#searchtextbox {
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 15px;
}

.community-section {
    margin: 0 auto;
    margin-top: 64px;
    height: 100px;
    width: 100%;
    background: #65853e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.community-sectionInfo {
    font-size: 24px;
    padding-right: 100px;
    color: white;
}

.community-sectionBtn a {
    padding: 15px;
    border-radius: 15px;
    text-decoration: none;
    background-color: #506931;
    color: white;
    border: 2px solid #506931;
}

.community-sectionBtn a:hover {
    background-color: white;
    color: #506931;
}


.itemLink {
    text-decoration: none;
    color: black;
}

.itemLink:hover {
    text-decoration: underline;
}

.communityContainer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 0px;
}

.communityContainer table {
    background-color: #506931;
    padding: 35px;
    border-radius: 25px;
}

.communityContainer table th {
    color: white;
    padding: 0px 40px;
}

.communityContainer table td {
    padding: 0px 40px;
}

.communityContainer table td a {
    color: black;
}

.communityContainer table td a:hover {
    color: white;
}

.errorContainer {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 0px;
    text-align: center;
}